
@model IEnumerable<MVC_Task2.Entities.Concretes.User>;

@{
    var p = "~/Views/PartialViews";
}
    
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="card-container">
                <span class="pro">PRO</span>
                <img class="round" src="@item.Img" alt="user" />
                <h3>@item.FirstName @item.LastName</h3>
             
                <p>@item.Description</p>
                <div class="buttons">
                <a asp-action="EditUser" asp-route-id="@item.Id" asp-controller="User" class="primary">

                    Edit

                </a>
                    
                    <a asp-action="Details" asp-controller="User" asp-route-id="@item.Id" class="primary ghost">
                        Details
                    </a>
                </div>

                <div class="skills">
                    <h6>Skills</h6>
                    @foreach (var skill in item.Skills) 
                    {
                        <p>@skill</p>
                    }
                </div>
            </div>
        }
    </div>
@*viewcomponent cagirmaq*@
@* @await Component.InvokeAsync("Slider") ozaman olarki dbden melumat cekir 
asinxronluqa ehtiyyac var
*@
<vc:slider></vc:slider> @*Tag helper ile*@

@* @await Html.PartialAsync("~/Views/PartialViews/_PartialHome.cshtml") @* way1  

*@
@* way2  for partial view  with tag-helper*@
<partial name="@p/_PartialHome.cshtml" data="@Model"/>



 
